
section {
 overflow: auto;
}

textarea {
 resize: vertical;
}

.center {
 text-align: center;
}

.center h1 {
 margin-bottom: 10px;
}

/*my rule to display the titles in the center*/
.container h1 {
 text-align: center;
}