<div class="homepage-header">
  <div>
    <h1>Home</h1>
    <div class="jumbotron">
      <h2>Time your workout, Track your progress</h2>
      <p>Do you have a pebble watch?</p>
      <p>Don't want to cover your phone with sweat?</p>
      <p> Can't be bothered clicking your phone every 20 or so seconds?</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Use PebFit!</a></p>
  </div>
  <div>
</div>